<!DOCTYPE html>
<html lang="en" ng-app="newApp">
 <head>
  <title>Spatlho App</title>
  <link href="..\content\css\styles.css" rel="stylesheet" type="text/css" />
  <script src="..\app\lib\angular.min.js"></script>
  <script src="..\app\app.js"></script>
 </head>
<body>

    <ng-include src="'views\header.html'"></ng-include>

    <div class="content">
<div ng-controller="KotaController">
    <button ng-click="order = 'name'">List by name</button>
    <button ng-click="order = 'colr'">List by Price</button>
    <input type="text" ng-model="search" placeholder="Search for a kota"/>

    <ul>
    <li ng-repeat="kota in kotas  | orderBy: order | filter: search" ng-show="kota.available">
      <img ng-src="{{kota.thumb}}" style="margin: -12px 10px 0 0; float:left; width:50px;"/>
      <h3>{{kota.name}}- {{kota.rate | currency:'R'}}</h3>
      <div class= "remove"ng-click="removeKota(kota)">x</div>
      <span class="rate"style = "background:{{kota.colr}}" ></span>
      </li>
    </ul>
      <tt>{{kota.name}} - {{kota.rate}}</tt>
    </div>
</div>
  </body>
</html>
