.footer {
    width: 30%;
    margin: 70px auto 0px;
    color: rgb(207, 191, 191);
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}