<p>login works</p>

<div class="header">
    <h2>Login</h2>
</div>
   
<form #loginForm="ngForm" (ngSubmit)="saveLogin(loginForm)"> 
   
<div class="form-group" [class.is-invalid]="usernameControl.invalid && usernameControl.touched"
      [class.is.valid]="usernameControl.valid"
      >
  <div class="input-group">
    <label for="username" class="control-label">Username</label>
     <input id="username" type="text" name="username" class="form-control"
      [(ngModel)]="user.username" #usernameControl="ngModel" pattern="(?=.*[a-z]).{2,}" required>
    <span class="help-block" *ngIf="usernameControl.invalid && usernameControl.touched">
      Username must contain minimum of 2 characters
    </span>
   </div>
  </div>

  <div class="form-group" [class.has-error]="password.invalid && password.touched">
    <div class="input-group">
     <label for="password" class="control-label">Password</label>
     <input type="text" name="password" required class="form-control" [(ngModel)]="user.password"
      #password="ngModel" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password">
      <span class="help-block" *ngIf="password.touched && password.errors?.required">
        Password is required
      </span>
      <span class="help-block" *ngIf="password.touched && password.errors?.pattern">
        Password must contain a minimum of 8 characters
    </span>
   </div>
 </div>

    <div class="input-group">
        <button type="submit" class="btn" [disabled]="loginForm.invalid" name="login_user">Login</button>
    </div>
    <p>
        Not yet a member? <a href="register">Sign up</a>
    </p>
</form>

{{loginForm.value |json}}
